@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Helvetica";
  src: url("../src/assets/font/Helvetica.ttf") format("truetype");
}

/* membuat container atau wadah dari scrollbar dengan lebar 20px  */
::-webkit-scrollbar {
  width: 3px;
}

/* membuat background dari scrollbar */
/* kasih warna transparan agar lebih estetik  */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* membuat styling pada batang atau bar scrollbar  */
/* kita beri warna abu tua dengan lengkungan di sisi atas dan bawahnya  */
::-webkit-scrollbar-thumb {
  background-color: #d6dee186;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
}

/* warna akan berubah menjadi abu mudah saat kursor diarahkan  */
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}